################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SocialApp/API/.vs/SocialApp
/SocialApp/API/SocialApp.API/bin/Debug/netcoreapp3.1
/SocialApp/API/SocialApp.API/Migrations
/SocialApp/API/SocialApp.API/obj
/SocialApp/API/SocialApp.Data/bin/Debug/netcoreapp3.1
/SocialApp/API/SocialApp.Data/obj
/SocialApp/API/SocialApp.Entities/obj
/SocialApp/API/SocialApp.Entities/bin/Debug/netcoreapp3.1
/DatingApp/DatingApp/API/bin/Debug/net5.0
/DatingApp/DatingApp/API/obj
